src/WeatherApp/WeatherApp/Connected Services/WeatherServiceWCF/OpenWeatherService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:61449/OpenWeatherService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/OpenWeather" />
  <xs:element name="GetWeather">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/OpenWeather" minOccurs="0" name="Param" nillable="true" type="q1:WeatherParameter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWeatherResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetWeatherResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWeatherobject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/OpenWeather" minOccurs="0" name="Param" nillable="true" type="q2:WeatherParameter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWeatherobjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/OpenWeather" minOccurs="0" name="GetWeatherobjectResult" nillable="true" type="q3:WeatherObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>