src/WeatherApp/WeatherApp/Connected Services/WeatherServiceWCF/OpenWeatherService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/OpenWeather" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/OpenWeather" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="WeatherParameter">
    <xs:sequence>
      <xs:element minOccurs="0" name="Format" type="tns:DataFormat" />
      <xs:element minOccurs="0" name="Lat" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Lon" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RequestType" type="tns:RequestType" />
      <xs:element minOccurs="0" name="UnitType" type="tns:UnitType" />
      <xs:element minOccurs="0" name="q" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WeatherParameter" nillable="true" type="tns:WeatherParameter" />
  <xs:simpleType name="DataFormat">
    <xs:restriction base="xs:string">
      <xs:enumeration value="jSon" />
      <xs:enumeration value="Xml" />
      <xs:enumeration value="Html" />
      <xs:enumeration value="WeatherObject" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="DataFormat" nillable="true" type="tns:DataFormat" />
  <xs:simpleType name="RequestType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ByCityName" />
      <xs:enumeration value="ByCoordinates" />
      <xs:enumeration value="ByCityId" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="RequestType" nillable="true" type="tns:RequestType" />
  <xs:simpleType name="UnitType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Imperial" />
      <xs:enumeration value="Metrics" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="UnitType" nillable="true" type="tns:UnitType" />
  <xs:complexType name="WeatherObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="base" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="clouds" nillable="true" type="tns:Clouds" />
      <xs:element minOccurs="0" name="cod" type="xs:int" />
      <xs:element minOccurs="0" name="coord" nillable="true" type="tns:Coord" />
      <xs:element minOccurs="0" name="dt" type="xs:int" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="main" nillable="true" type="tns:Main" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rain" nillable="true" type="tns:Rain" />
      <xs:element minOccurs="0" name="sys" nillable="true" type="tns:Sys" />
      <xs:element minOccurs="0" name="weather" nillable="true" type="tns:ArrayOfWeather" />
      <xs:element minOccurs="0" name="wind" nillable="true" type="tns:Wind" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WeatherObject" nillable="true" type="tns:WeatherObject" />
  <xs:complexType name="Clouds">
    <xs:sequence>
      <xs:element minOccurs="0" name="all" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Clouds" nillable="true" type="tns:Clouds" />
  <xs:complexType name="Coord">
    <xs:sequence>
      <xs:element minOccurs="0" name="lat" type="xs:double" />
      <xs:element minOccurs="0" name="lon" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Coord" nillable="true" type="tns:Coord" />
  <xs:complexType name="Main">
    <xs:sequence>
      <xs:element minOccurs="0" name="humidity" type="xs:int" />
      <xs:element minOccurs="0" name="pressure" type="xs:int" />
      <xs:element minOccurs="0" name="temp" type="xs:double" />
      <xs:element minOccurs="0" name="temp_max" type="xs:double" />
      <xs:element minOccurs="0" name="temp_min" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Main" nillable="true" type="tns:Main" />
  <xs:complexType name="Rain">
    <xs:sequence>
      <xs:element minOccurs="0" name="__invalid_name__3h" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Rain" nillable="true" type="tns:Rain" />
  <xs:complexType name="Sys">
    <xs:sequence>
      <xs:element minOccurs="0" name="country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="message" type="xs:double" />
      <xs:element minOccurs="0" name="sunrise" type="xs:int" />
      <xs:element minOccurs="0" name="sunset" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Sys" nillable="true" type="tns:Sys" />
  <xs:complexType name="ArrayOfWeather">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Weather" nillable="true" type="tns:Weather" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWeather" nillable="true" type="tns:ArrayOfWeather" />
  <xs:complexType name="Weather">
    <xs:sequence>
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="icon" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="main" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Weather" nillable="true" type="tns:Weather" />
  <xs:complexType name="Wind">
    <xs:sequence>
      <xs:element minOccurs="0" name="deg" type="xs:int" />
      <xs:element minOccurs="0" name="speed" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Wind" nillable="true" type="tns:Wind" />
</xs:schema>